
* {
    box-sizing: border-box;
}

* {
    --button-color: hsl(212, 51%, 39%);
    --button-color-lighter: hsl(212, 51%, calc(39% + 3%));
    --button-color-darker: hsl(212, 51%, calc(39% - 15%));
    --background-color: hsl(157, 40%, 40%);
    --black : hsl(0, 0%, 18%);
    --white : hsl(240, 100%, 99%);
}
html{
    font-family: 'Open Sans', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

html, body, #root, .App {
    height: 100%;
}
 #root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

