nav {
    display: flex;
    justify-content: space-between;
    /*background-color: #7209b7;*/
    background-color: black;


}

div.nav-logo {
    display:flex;
    color:white;
    margin-left : .25em;
    font-size: 2rem;
    align-items: center;
}

div.links {
    display:flex;
    margin-right: 1.5rem;
    /*align-items: center;*/
}

.nav-link {
    color:white;
    background-color: #4361ee;
    /*margin: 0 .25rem;*/
    border: .1em solid black;
    margin: 1em .3em;
    padding: .5em 1em;
    border-radius: .5em;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.2rem;
}

.active {
    background-color: #f72585;
}

.nav-link:not(.active):hover {
    filter: brightness(110%);
}

.nav-link:visited,
.nav-link:link,
.nav-link:active,
.nav-link:hover {
    color:white;
}