nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}

div.nav-logo {
    display:flex;
    color:var(--white);
    margin-left : 3%;
    font-size: 2rem;
    align-items: center;
}

div.nav-links {
    display:flex;
    align-items: flex-end;
    margin-right:3%;
    margin-top:1em;
    margin-bottom: .2em;
}

.nav-link {
    color:var(--white);
    background-color: var(--button-color);
    margin: 0 .3em;
    padding: .3em 1em;
    border-radius: .5em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    border: .1em solid var(--black);
}

.active {
    background-color: var(--button-color-darker);
}

.nav-link:not(.active):hover {
    background-color: var(--button-color-lighter);
    border: .1em solid var(--button-color-lighter);
}

.nav-link:visited,
.nav-link:link,
.nav-link:active,
.nav-link:hover {
    color:var(--white);
}