a.project-tile{
    display:flex;
    flex-direction: column;
    width: 15rem;
    border: .4rem solid var(--black);
    border-radius: 3px;
    margin: .6rem;
    height:8rem;
}

.header {
    text-align: center;
    border-bottom: .2rem solid var(--black);
}

.description {
    text-align: center;
}

a:visited,
a:link,
a:active,
a:hover {
    color:var(--black);
    text-decoration: none;
}